Cenário 1: Cadastrar com sucesso com todos os dados obrigatórios
Dado que eu acesse a EBAC-shop
Quando eu preencher todos os campos obrigatórios corretamente
E inserir um e-mail válido no campo de e-mail
Então o sistema deve exibir uma mensagem de "Concluído"

Cenário 2: Exibir erro ao inserir e-mail inválido
Dado que eu acesse a EBAC-shop
Quando eu preencher todos os campos obrigatórios corretamente
E inserir um e-mail inválido no campo de e-mail
Então o sistema deve exibir uma mensagem de erro informando "E-mail inválido"

Cenário 3: Exibir alerta ao deixar campos obrigatórios vazios
Dado que eu acesse a EBAC-shop
Quando eu não preencher todos os campos obrigatórios
Então o sistema deve exibir uma mensagem de alerta informando "Preencha todos os campos obrigatórios"
